/* Write your CSS here */
.bg-con {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-img {
  height: 100px;
}
.google-card {
  width: 500px;
  padding: 200px;
  margin: 30px;
  box-shadow: 0 4px 16px 0 #bfbfbf;
  border-radius: 15px;
}
.search-icon {
  height: 20px;
}
.input-con {
  display: flex;
  align-items: center;
}
.google-input {
  width: 100%;
  border: 0;
  outline: none;
  margin-left: 5px;
}
.items-con {
  padding: 0;
  list-style: none;
}
